html, body {
    min-height: 100% !important;
    height: 100%;
}

body {
    padding: 0;
    margin: 0;
}

.video {
    margin: 0px auto;
    height: 100%;
    background: #000;
}

.display, video, canvas, object {
    width: 100%;
    height: 100%;
    position: relative;
}

video:-webkit-full-screen {
    border-radius: 1px;
}

/* Prevent stretched picture in full screen mode */
canvas:-webkit-full-screen {
    width: initial;
    height: initial;
}

canvas:-moz-full-screen {
    width: initial;
    height: initial;
}

#status {
    width: 100%;
    color: white;
    position: absolute;
    text-align: center;
    display: block;
    background: rgba(0, 0, 0, 0.3);
    z-index: 2147483647 !important;
}

#play {
    width: 20%;
    cursor: pointer;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
    border-radius: 26%;
    z-index: 2147483647 !important;
}

#play img {
    display: block;
    width: 100%;
}

.play {
    background: #00CBFF;
}

.stop {
    -webkit-box-shadow: inset 0px 1px 29px 0px rgba(102, 31, 36, 0.75);
    -moz-box-shadow: inset 0px 1px 29px 0px rgba(102, 31, 36, 0.75);
    box-shadow: inset 0px 1px 29px 0px rgba(102, 31, 36, 0.75);
}

.loader {
    border: 10px solid #d3d3d3; /* Light grey */
    border-top: 10px solid #ffffff; /* White */
    border-radius: 50%;
    width: 70px;
    height: 70px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -40px 0 0 -40px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
