.fp-remoteVideo {
    border: 1px double black;
    width: 322px;
    height: 242px;
    text-align: center;
    margin: 0 auto;
    background: #c0c0c0;
}

@media (min-width: 1400px) {
    .container {
        width: 1370px;
    }
}

.display {
    width: 100%;
    height: 100%;
    display: inline-block;
}

video, object {
    width: 100%;
    height: 100%;
}

.ui-slider {
    height: 10px !important;
    background: #c0c0c0;
}

.ui-slider-handle {
    width: 16px !important;
    height: 16px !important;
    position:absolute;
    -moz-border-radius: 70px;
    -webkit-border-radius: 70px;
    border-radius: 70px;
}
.ui-widget-header {
    background: #c0c0c0;
}

.ui-slider-range-min {
    background: black;
}

.talking {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border-color: black;
    border-style: solid;
    border-width: 1px;
    /*background-color: #008800;*/
    /*padding-left: 0px;*/
    margin-left: 5px;
}