/* Field set styles*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

/* Field set legend*/
legend.scheduler-border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    text-align: left;
}

/* Vertical alignment for text and buttons */
.fp-buttonVerticalAlign {
    vertical-align: middle;
    display: inline-block;
    height: 34px;
    line-height: 34px;
}

/* Video block */
.fp-videoBlock {
    left: 0px;
    top: 85px;
    height: 600px;
}

/* Statistics block */
.fp-statsBlock {
    top: 60px;
}

/* Remote Video*/
.fp-remoteVideo {
	border: 1px double black;
    position: absolute;
	background: #c0c0c0;
	width: 320px;
	height: 240px;
	text-align: center;
    margin: 0 auto 0 auto;
}

/* Local Video*/
.fp-localVideo {
    border: solid 1px;
    background-color: black;
    position: absolute;
	width: 80px;
	height: 60px
}

.display {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.display > video, object {
    width: 100%;
    height: 100%;
}

/* Mute Video Controls */
.fp-muteVideoControls {
    position: absolute;
    top:250px;
}

input[type="checkbox"] {
    line-height: normal;
}

.form-horizontal .checkbox {
    min-height: 55px;
}