.fp-localVideo {
    border: 1px double black;
    position: absolute !important;
    width: 222px;
    height: 167px;
    margin-top: 44%;
    margin-left: 2%;
    z-index: 2147483647;
    text-align: center;
    background: #c0c0c0;
}

.fp-remoteVideo {
    border: 1px double black;
    position: absolute !important;
    width: 642px;
    height: 482px;
    text-align: center;
    background: #c0c0c0;
}

.display {
    width: 100%;
    height: 100%;
    display: inline-block;
}

video, object {
    width: 100%;
    height: 100%;
}

.fp-userState {
    border-radius: 50%;
    border-color: lightgray !important;
    background-color: lightgray;
    width: 15px;
    height: 15px;
}