.fp-remoteVideo {
    border: 1px double black;
    width: 802px;
    height: 402px;
    margin: 0 auto;
}
/*.fp-remoteVideo>div {*/
    /*width: 800px;*/
    /*height: 400px;*/
    /*margin: 0 auto;*/
/*}*/


