/* Field set styles*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow: 0px 0px 0px 0px #000;
    box-shadow: 0px 0px 0px 0px #000;
}

/* Field set legend*/
legend.scheduler-border {
    width: inherit; /* Or auto */
    padding: 0 10px; /* To give a bit of padding on the left and right */
    border-bottom: none;
    text-align: left;
}

.fp-Video {
    border: 1px double black;
    width: 322px;
    height: 242px;
    text-align: center;
    background: #c0c0c0;
    margin: 0 auto 0 auto;
}

.display {
    width: 100%;
    height: 100%;
    display: inline-block;
}

.display > video{
    width: 100%;
    height: 100%;
}
